.tpl_item {
    display: none;
}

.icon_select_item {
    width: 90px;
    height: 110px;
    margin: 10px;
    border: 1px #ebebeb solid;
    padding: 1px;
    cursor: pointer;
    float: left;
}

    .icon_select_item img {
        width: 80px;
        height: 80px;
    }

    .icon_select_item p {
        margin-top: 5px;
        text-align: center;
    }

.btn-xs { /*  重写被覆盖掉的样式  */
    padding: 1px 5px;
}

.somo_imgbox {
}

    .somo_imgbox > .sceene > .item {
        border: 1px #ebebeb solid;
        padding: 5px;
        float: left;
        margin: 0px 10px 10px 0px;
        background-color: #f5f5f5;
    }

        .somo_imgbox > .sceene > .item img {
            width: 300px;
            height: 150px;
        }

        .somo_imgbox > .sceene > .item h3 {
            font-size: 16px;
        }

        .somo_imgbox > .sceene > .item p {
            font-size: 14px;
            color: #808080;
        }


    .somo_imgbox > .image > .item {
        border: 1px #ebebeb solid;
        padding: 5px;
        float: left;
        margin: 0px 10px 10px 0px;
        background-color: #f5f5f5;
    }

        .somo_imgbox > .image > .item img {
            width: 200px;
            height: 150px;
        }

        .somo_imgbox > .image > .item h3 {
            font-size: 14px;
        }

        .somo_imgbox > .image > .item p {
            font-size: 14px;
            color: #808080;
        }
